body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #6598CB;
}

#title {
    font-size: 3em;
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #011042;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.pikomon {
    background: #03269A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
}

.pikomon img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pikomon h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #5EB0C8;
}

.pikomon p {
    margin: 5px 0;
    font-size: 1em;
    color: #5EB0C8;
}